      <nav>
        <button type="submit" id="home" class="btn btn-secondary">Home</button> |
        <button type="submit" id="dashboard" class="btn btn-success">Dashboard</button> {{#if logged_in}}|
        <button type="submit" id="logout" class="btn btn-warning">Log out</button>{{else}}<button type="submit" id="login" class="btn btn-warning">Log in</button>{{/if}}
      </nav><br>
      <h4 style="font-weight:bold;">Welcome {{loggedInUser}}<!--(<a href="/changePassword">Change Password</a>)--></h4>

<h5 style="font-weight:bold;">Create a new Dev Note</h5>
<form>
  <input type="text" id="name" placeholder="Enter post title" class="form-control"/><br>
  <textarea id="devnote_body" placeholder="Enter note body" class="form-control"></textarea><br>
  <button type="submit" class="fas fa-save btn btn-success save-note"> Post Dev Note</button>
</form><br><br>
<h5 style="font-weight:bold;">Your Dev Notes</h5>
{{#each devnotes as |devnote| }}

  <div class="row mb-4 project">
    <div class="col-md-5">
      <h6>
        {{devnote.name}}
      </h6>
      <p>
        {{devnote.devnote_body}}
      </p>
      <p style="border:1px solid teal;padding:3px;width:120px;"><a href="/devnotes/{{devnote.id}}">MANAGE NOTE</a></p>
    </div>
  </div>
{{/each}}
<script src="./assets/js/logout.js"></script>
<script src="./assets/js/index.js"></script>