<!-- Loop over each object in the projects array -->
{{#each devnotes as |devnote| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/devnotes/{{devnote.id}}">{{devnote.name}}</a>
    </h2>
    <p>
    </p>
    <p>Created by {{devnote.user.name}} on {{devnote.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{devnote.devnote_body}}
    </p>
  </div>
</div>
{{/each}}
