      <nav>
        
        <button type="submit" id="home" class="btn btn-success">Home</button> |
        <button type="submit" id="dashboard" class="btn btn-secondary">Dashboard</button> {{#if logged_in}}|
        <button type="submit" id="logout" class="btn btn-warning">Log out</button>{{else}}<button type="submit" id="login" class="btn btn-warning">Log in</button>{{/if}}
      </nav><br>

{{#each devnotes as |devnote| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h5>
      <a href="/devnotes/{{devnote.id}}">{{devnote.name}}</a> {{sess_id}}
    </h5>
    <p>Created by {{devnote.user.name}} on {{devnote.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{devnote.devnote_body}}
    </p>
  </div>
</div>
{{/each}}
{{#if logged_in}}<p><a href="/devnotes/{{devnote.id}}">EDIT NOTE</a></p>{{/if}}
<script src="./assets/js/logout.js"></script>