      <nav>
        <button type="submit" id="home" class="btn btn-success">Home</button> |
        <button type="submit" id="dashboard" class="btn btn-secondary">Dashboard</button> {{#if logged_in}}|
        <button type="submit" id="logout" class="btn btn-warning">Log out</button>{{else}}<button type="submit" id="login" class="btn btn-warning">Log in</button>{{/if}}
      </nav><br>
{{#each devnotes as |devnote| }}
<div class="row mb-4 project">
  <div class="col-md-4">
    <h5 class="font-weight-bold">
      {{devnote.name}}
    </h5>
    <p>Created by {{devnote.user.name}} on {{format_date devnote.date_created}}</p>
  </div>
  <div class="col-md-8">
    <p>
      {{devnote.devnote_body}}
    </p>
  </div>
</div>
{{/each}}

{{#if logged_in}}<script src="./assets/js/logout.js"></script>{{else}}
<script src="./assets/js/login.js"></script>{{/if}}