    <nav class="navbar navbar-dark bg-dark">
      <div class="icons">
        <i class="fas fa-save text-light save-note"></i>
        <i class="fas fa-plus text-light new-note"></i>
      </div>
    </nav>
      <nav>
        <button type="submit" id="home" class="btn btn-secondary">Home</button> |
        <button type="submit" id="dashboard" class="btn btn-secondary">Dashboard</button> {{#if logged_in}}|
        <button type="submit" id="logout" class="btn btn-warning">Log out</button>{{else}}<button type="submit" id="login" class="btn btn-warning">Log in</button>{{/if}}
      </nav><br>
  <div class="row mb-4 project">
    <div class="col-md-5">

    </div>
  </div>
<h5>Edit Dev Note</h5>
{{#if logged_in}}
<form>
  <input type="text" value="{{devnote_plain.name}}" class="form-control"/><br>
  <textarea id="post_body" placeholder="Enter note body" class="form-control">{{devnote_plain.devnote_body}}</textarea><br>
  <button type="submit" class="btn" id="post_note">Resave Dev Note</button>
</form>
{{else}}
<h4>{{devnote_plain.name}}</h4><br>
{{devnote_plain.devnote_body}}
{{/if}}
<script src="./assets/js/logout.js"></script>
